In [ ]:
Day 05. 컬렉션2(Collection2)

In [ ]:
튜플, 딕셔너리, 집합

In [ ]:
01| 튜플
02 | 딕셔너리
03 | 집합

In [ ]:
리스트 [] 대괄호
튜플 () 소괄호
딕셔너리 {} 중괄호
집합, 세트 {} 중괄호

In [ ]:
## 01 | 튜플
- 튜플은 리스트와 거의 유사한 자료형
- 리스트처럼 인덱싱, 슬라이싱 가능
- 튜플은 ()를 사용하여 생성
- 튜플은 리스트보다 생성 속도가 빠르고 메모리를 적게 사용

01) 리스트와 튜플의 차이점
- 튜플은 한 번 만들면 변경할 수 없음(불변, immutable)
- 리스트는 값을 바꾸거나 추가 삭제 할 수 있음(가변, mutable)
- 튜플 -> 아이템 추가, 삭제 수정 불가능!!!
02) 튜플에서 사용할 수 있는 기능:
- 검색: index(), count(), len()
- 포함 여부 확인: in, not in 
- 정렬: sorted()
- 삭제: del
- 사본생성: 리스트와 마찬가지로 튜플도 새로운 변수에 할당하여 사용할 수 있음!!!

03) 튜플에서 사용할 수 없는 기능
삽입: append(), insert(), extend()
수정: 직접수정 불가
삭제: pop(), remove(), clear(), del 변수명[인덱스]
정렬: sort(), reverse()

04) 튜플은 언제 사용?
- 데이터의 개수와 내용이 고정되어 있는 경우
- 값이 변하면 안되는 경우(ex, 좌표, 학번, 요일 등)

In [ ]:
### 05) 튜플 생성하기

In [ ]:
1. 원소가 없는 튜플 만들 때

In [1]:
t = () 
print(t)

()

In [2]:
t = tuple()
print(t)
print(type(t))

()
<class 'tuple'>

In [ ]:
2. 여러개의 원소를 나열할 때 
- 괄호를 써도 되고 안 써도 생성 가능ㄹ

In [3]:
# 괄호 사용
t = ('a', 'b', 'c')
print(t)
print(type(t))

('a', 'b', 'c')
<class 'tuple'>

In [4]:
#괄호 사용하지 않고 생성
tu = 'a','b','c'
print(tu)
print(type(tu))

('a', 'b', 'c')
<class 'tuple'>

In [ ]:
3. 원소를 하나만 가진 튜플
- 원소 뒤에 콤마(,)를 꼭 찍어

In [5]:
one = (5,)
print(one)
print(type(one))

(5,)
<class 'tuple'>

In [ ]:
#콤마를 쓰지 않으면 튜플이 아닌 정수로 인식

In [6]:
a = (5)
print(a)
print(type(a))

5
<class 'int'>

In [ ]:
### 06) 튜플의 슬라이싱
슬라이싱
- [시작: 끝: 간격] -> [start: stop: step]
- [이상: 미만]
- start: 시작인데긋, 생략하면 처음부터 추출
- stop: 종료인덱스, 생략하면 끝까지 추출
- step: 인덱스의 증감값, 생략하면 1씩 변화

In [7]:
p = (1,2,3,4,5,6,7)
print(p[1:4])

(2, 3, 4)

In [8]:
p = (1,2,3,4,5,6,7)
print(p[:2])

(1, 2)

In [9]:
p = (1,2,3,4,5,6,7)
print(p[1:6:2])

(2, 4, 6)

In [ ]:
**  step이 음수인 경우
- step 방향에 따라 해석이 달라짐
- step양수 -> start 생략 = 0, stop생략 = 끝
- step음수 -> start 생략 = 마지막, stop 생략 = 0번 인덱스

In [10]:
p = (1,2,3,4,5,6,7)
print(p[::-1])

(7, 6, 5, 4, 3, 2, 1)

In [12]:
# start = 4 -> 인덱스 4에서 시작
# stop = 처음 (인덱스 0)까지 간다
# step = -1 -> 뒤로 (거꾸로) 간다.

p=(1,2,3,4,5,6,7)
print(p[4::-1])

(5, 4, 3, 2, 1)

In [ ]:
07) 튜플을 리스트로, 리스트를 튜플로 변경

In [ ]:
1. 튜플 -> 리스트

In [13]:
p=(1,2,3)
q=list(p)
print(q)

[1, 2, 3]

In [14]:
print(p)
print(type(p))
#기억할 점 원형은 변형되지 않는다.

(1, 2, 3)
<class 'tuple'>

In [17]:
2. 리스트 -> 튜플
l = [1,2,3]
r = tuple(l)
print(r)

SyntaxError: invalid syntax (268297819.py, line 1)

In [18]:
print(l)
print(type(l))

NameError: name 'l' is not defined

In [ ]:
### 08) 튜플의 수정 방법
1. 튜플 연결
두 개 이상의 튜플을 연결하여 새로운 튜플을 생성

In [19]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
com = tuple1 + tuple2
print(com)

(1, 2, 3, 4, 5, 6)

In [ ]:
2. 튜플 반복
- 튜플을 *연산하여 새로운 튜플을 생성할 수 있음.

In [20]:
tuple3 = (7,8,9)
re_tuple = tuple3*3
print(re_tuple)

(7, 8, 9, 7, 8, 9, 7, 8, 9)

In [ ]:
3. 오려 붙이기

In [ ]:
- 튜플은 리스트와 달리 원소값을 직접 바꿀 수 없기 때문에, 문자열에서 슬라이싱 했던 것처럼 오려 붙이는 방법을 사용하여 수정!

In [21]:
p=(1,2,3,4,5)
q=p[:1]+(6,7)+p[3:]
print(q)

(1, 6, 7, 4, 5)

In [23]:
print(p)

(1, 2, 3, 4, 5)

In [ ]:
## 09) 튜플 정렬

In [ ]:
1. 오름차순

In [26]:
numbers = (5,2,9,1,5,6)
#정렬된 새로운 리스트 반환!
sorted_numbers = sorted(numbers)
print("원본 튜플:", numbers)
print("정렬된 리스트:", sorted_numbers)

원본 튜플: (5, 2, 9, 1, 5, 6)
정렬된 리스트: [1, 2, 5, 5, 6, 9]

In [ ]:
numbers = (5,2,9,1,5,6)
#정렬된 리스트 반환 후 튜플로 변환
sorted_numbers = sorted(numbers)
print("원본 튜플:", numbers)
print("정렬된 리스트:", sorted_numbers)

In [ ]:
2. 내림차순

In [28]:
number = (5,2,9,1,5,6)
#정렬된 리스트 반환(내림차순)
sorted_number = sorted(number, reverse= True)
print("원본 튜플:", number)
print(" 내림차순 정렬된 리스트: ", sorted_number)

원본 튜플: (5, 2, 9, 1, 5, 6)
 내림차순 정렬된 리스트:  [9, 6, 5, 5, 2, 1]

In [29]:
number = (5,2,9,1,5,6)
#정렬된 리스트 반환(내림차순)
sorted_number = tuple(sorted(number, reverse= True))
print("원본 튜플:", number)
print(" 내림차순 정렬된 리스트: ", sorted_number)

원본 튜플: (5, 2, 9, 1, 5, 6)
 내림차순 정렬된 리스트:  (9, 6, 5, 5, 2, 1)

In [ ]:
### 10) 튜플 검색하기
-index()
-count()
-len()

In [ ]:
index() | 지정한 값이 몇 번째 인덱스 속하는지를 알려주는 메서드

In [30]:
my_tuple = (10,20,30,20,40)
#값이 처음 나타나는 위치 인덱스 변환
a = my_tuple.index(20)
b = my_tuple.index(20,2)
print("20의 인덱스:", a)
print("20의 인덱스:", b)

20의 인덱스: 1
20의 인덱스: 3

In [ ]:
count() | 개수를 세는 메서드

In [31]:
my_tuple = (10,20,30,40,20,20)
#20의 개수 세기
a = my_tuple.count(20)
print("20의 개수: ", a)

20의 개수:  3

In [32]:
print(my_tuple.count(20))

3

In [ ]:
len() | 원소가 몇 개 들어있는지 세어줌

In [33]:
my_tuple = (10,20,30,40)
new = len(my_tuple)
print("튜플의 길이: ", new)

튜플의 길이:  4

In [ ]:
### 11) 튜플의 활용

In [ ]:
1. for문과 함께 사용하기

In [34]:
a = (10,20,30)
for i in a: 
    print(i)

10
20
30

In [ ]:
2. 언패킹과 함께 사용하기
- 튜플 안에 여러 값이 묶여 있는 경우 for문과 언패킹을 같이 사용 가능

In [35]:
arr = [(1,2), (3,4), (5,6)]
for x,y in arr:
    print(x,y)

In [ ]:
3. enumerate와 함께 사용
- 튜플의 인덱스와 값을 동시에 가져올 수 있도록 해주는 함수

In [38]:
t = ('a', 'b', 'c')
for idx, val in enumerate(t, start=1):#index 시작값 입력
    print(idx,val)

1 a
2 b
3 c

In [ ]:
### 연습문제 01| 처음부터 인덱스 6번까지 요소 출력하기
numbers = (10,20,30,40,50,60,70,80,90,100)

In [41]:
p=(10,20,30,40,50,60,70,80,90,100)
print(p[0:6])

(10, 20, 30, 40, 50, 60)

In [39]:
### 연습 02| 첫 번째 리스트에서 두 번째 요소를 20으로 변경
- my_tuple = ([1,2,3],[4,5,6])

In [44]:
my_tuple = ([1,2,3],[4,5,6])
my_tuple[0][1]=20
print(my_tuple)

([1, 20, 3], [4, 5, 6])

In [ ]:
### 연습 03| 두 개의 튜플을 연결해보세요.
tuple1=(1,2,3)
tuple2+(4,5,6)
->(1,2,3,4,5,6)

In [42]:
tuple1=(1,2,3)
tuple2=(4,5,6)
com=tuple1+tuple2
print(com)

(1, 2, 3, 4, 5, 6)

In [ ]:
### 연습 04| tuple안에 2가 몇개 있는지 세어보세요.
mixed_tuple = (1,2,3,2,4,2,5)

In [43]:
my_tuple=(1,2,3,2,4,2,5)
a=my_tuple.count(2)
print(a)

3

In [ ]:
## 02| 딕셔너리
[키:밸류,]