In [ ]:
Day 05. 컬렉션2(Collection2)

In [ ]:
튜플, 딕셔너리, 집합

In [ ]:
01| 튜플
02 | 딕셔너리
03 | 집합

In [ ]:
리스트 [] 대괄호
튜플 () 소괄호
딕셔너리 {} 중괄호
집합, 세트 {} 중괄호

In [ ]:
## 01 | 튜플
- 튜플은 리스트와 거의 유사한 자료형
- 리스트처럼 인덱싱, 슬라이싱 가능
- 튜플은 ()를 사용하여 생성
- 튜플은 리스트보다 생성 속도가 빠르고 메모리를 적게 사용

01) 리스트와 튜플의 차이점
- 튜플은 한 번 만들면 변경할 수 없음(불변, immutable)
- 리스트는 값을 바꾸거나 추가 삭제 할 수 있음(가변, mutable)
- 튜플 -> 아이템 추가, 삭제 수정 불가능!!!
02) 튜플에서 사용할 수 있는 기능:
- 검색: index(), count(), len()
- 포함 여부 확인: in, not in 
- 정렬: sorted()
- 삭제: del
- 사본생성: 리스트와 마찬가지로 튜플도 새로운 변수에 할당하여 사용할 수 있음!!!

03) 튜플에서 사용할 수 없는 기능
삽입: append(), insert(), extend()
수정: 직접수정 불가
삭제: pop(), remove(), clear(), del 변수명[인덱스]
정렬: sort(), reverse()

04) 튜플은 언제 사용?
- 데이터의 개수와 내용이 고정되어 있는 경우
- 값이 변하면 안되는 경우(ex, 좌표, 학번, 요일 등)

In [ ]:
### 05) 튜플 생성하기

In [ ]:
1. 원소가 없는 튜플 만들 때

In [1]:
t = () 
print(t)

()

In [2]:
t = tuple()
print(t)
print(type(t))

()
<class 'tuple'>

In [ ]:
2. 여러개의 원소를 나열할 때 
- 괄호를 써도 되고 안 써도 생성 가능ㄹ

In [3]:
# 괄호 사용
t = ('a', 'b', 'c')
print(t)
print(type(t))

('a', 'b', 'c')
<class 'tuple'>

In [4]:
#괄호 사용하지 않고 생성
tu = 'a','b','c'
print(tu)
print(type(tu))

('a', 'b', 'c')
<class 'tuple'>

In [ ]:
3. 원소를 하나만 가진 튜플
- 원소 뒤에 콤마(,)를 꼭 찍어

In [5]:
one = (5,)
print(one)
print(type(one))

(5,)
<class 'tuple'>

In [ ]:
#콤마를 쓰지 않으면 튜플이 아닌 정수로 인식

In [6]:
a = (5)
print(a)
print(type(a))

5
<class 'int'>

In [ ]:
### 06) 튜플의 슬라이싱
슬라이싱
- [시작: 끝: 간격] -> [start: stop: step]
- [이상: 미만]
- start: 시작인데긋, 생략하면 처음부터 추출
- stop: 종료인덱스, 생략하면 끝까지 추출
- step: 인덱스의 증감값, 생략하면 1씩 변화

In [7]:
p = (1,2,3,4,5,6,7)
print(p[1:4])

(2, 3, 4)

In [8]:
p = (1,2,3,4,5,6,7)
print(p[:2])

(1, 2)

In [9]:
p = (1,2,3,4,5,6,7)
print(p[1:6:2])

(2, 4, 6)

In [ ]:
**  step이 음수인 경우
- step 방향에 따라 해석이 달라짐
- step양수 -> start 생략 = 0, stop생략 = 끝
- step음수 -> start 생략 = 마지막, stop 생략 = 0번 인덱스

In [10]:
p = (1,2,3,4,5,6,7)
print(p[::-1])

(7, 6, 5, 4, 3, 2, 1)

In [12]:
# start = 4 -> 인덱스 4에서 시작
# stop = 처음 (인덱스 0)까지 간다
# step = -1 -> 뒤로 (거꾸로) 간다.

p=(1,2,3,4,5,6,7)
print(p[4::-1])

(5, 4, 3, 2, 1)

In [ ]:
07) 튜플을 리스트로, 리스트를 튜플로 변경

In [ ]:
1. 튜플 -> 리스트

In [13]:
p=(1,2,3)
q=list(p)
print(q)

[1, 2, 3]

In [14]:
print(p)
print(type(p))
#기억할 점 원형은 변형되지 않는다.

(1, 2, 3)
<class 'tuple'>

In [17]:
2. 리스트 -> 튜플
l = [1,2,3]
r = tuple(l)
print(r)

SyntaxError: invalid syntax (268297819.py, line 1)

In [18]:
print(l)
print(type(l))

NameError: name 'l' is not defined

In [ ]:
### 08) 튜플의 수정 방법
1. 튜플 연결
두 개 이상의 튜플을 연결하여 새로운 튜플을 생성

In [19]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
com = tuple1 + tuple2
print(com)

(1, 2, 3, 4, 5, 6)

In [ ]:
2. 튜플 반복
- 튜플을 *연산하여 새로운 튜플을 생성할 수 있음.

In [20]:
tuple3 = (7,8,9)
re_tuple = tuple3*3
print(re_tuple)

(7, 8, 9, 7, 8, 9, 7, 8, 9)

In [ ]:
3. 오려 붙이기

In [ ]:
- 튜플은 리스트와 달리 원소값을 직접 바꿀 수 없기 때문에, 문자열에서 슬라이싱 했던 것처럼 오려 붙이는 방법을 사용하여 수정!

In [21]:
p=(1,2,3,4,5)
q=p[:1]+(6,7)+p[3:]
print(q)

(1, 6, 7, 4, 5)

In [23]:
print(p)

(1, 2, 3, 4, 5)

In [ ]:
## 09) 튜플 정렬

In [ ]:
1. 오름차순

In [26]:
numbers = (5,2,9,1,5,6)
#정렬된 새로운 리스트 반환!
sorted_numbers = sorted(numbers)
print("원본 튜플:", numbers)
print("정렬된 리스트:", sorted_numbers)

원본 튜플: (5, 2, 9, 1, 5, 6)
정렬된 리스트: [1, 2, 5, 5, 6, 9]

In [ ]:
numbers = (5,2,9,1,5,6)
#정렬된 리스트 반환 후 튜플로 변환
sorted_numbers = sorted(numbers)
print("원본 튜플:", numbers)
print("정렬된 리스트:", sorted_numbers)

In [ ]:
2. 내림차순

In [28]:
number = (5,2,9,1,5,6)
#정렬된 리스트 반환(내림차순)
sorted_number = sorted(number, reverse= True)
print("원본 튜플:", number)
print(" 내림차순 정렬된 리스트: ", sorted_number)

원본 튜플: (5, 2, 9, 1, 5, 6)
 내림차순 정렬된 리스트:  [9, 6, 5, 5, 2, 1]

In [29]:
number = (5,2,9,1,5,6)
#정렬된 리스트 반환(내림차순)
sorted_number = tuple(sorted(number, reverse= True))
print("원본 튜플:", number)
print(" 내림차순 정렬된 리스트: ", sorted_number)

원본 튜플: (5, 2, 9, 1, 5, 6)
 내림차순 정렬된 리스트:  (9, 6, 5, 5, 2, 1)

In [ ]:
### 10) 튜플 검색하기
-index()
-count()
-len()

In [ ]:
index() | 지정한 값이 몇 번째 인덱스 속하는지를 알려주는 메서드

In [30]:
my_tuple = (10,20,30,20,40)
#값이 처음 나타나는 위치 인덱스 변환
a = my_tuple.index(20)
b = my_tuple.index(20,2)
print("20의 인덱스:", a)
print("20의 인덱스:", b)

20의 인덱스: 1
20의 인덱스: 3

In [ ]:
count() | 개수를 세는 메서드

In [31]:
my_tuple = (10,20,30,40,20,20)
#20의 개수 세기
a = my_tuple.count(20)
print("20의 개수: ", a)

20의 개수:  3

In [32]:
print(my_tuple.count(20))

3

In [ ]:
len() | 원소가 몇 개 들어있는지 세어줌

In [33]:
my_tuple = (10,20,30,40)
new = len(my_tuple)
print("튜플의 길이: ", new)

튜플의 길이:  4

In [ ]:
### 11) 튜플의 활용

In [ ]:
1. for문과 함께 사용하기

In [34]:
a = (10,20,30)
for i in a: 
    print(i)

10
20
30

In [ ]:
2. 언패킹과 함께 사용하기
- 튜플 안에 여러 값이 묶여 있는 경우 for문과 언패킹을 같이 사용 가능

In [35]:
arr = [(1,2), (3,4), (5,6)]
for x,y in arr:
    print(x,y)

In [ ]:
3. enumerate와 함께 사용
- 튜플의 인덱스와 값을 동시에 가져올 수 있도록 해주는 함수

In [38]:
t = ('a', 'b', 'c')
for idx, val in enumerate(t, start=1):#index 시작값 입력
    print(idx,val)

1 a
2 b
3 c

In [ ]:
### 연습문제 01| 처음부터 인덱스 6번까지 요소 출력하기
numbers = (10,20,30,40,50,60,70,80,90,100)

In [41]:
p=(10,20,30,40,50,60,70,80,90,100)
print(p[0:6])

(10, 20, 30, 40, 50, 60)

In [39]:
### 연습 02| 첫 번째 리스트에서 두 번째 요소를 20으로 변경
- my_tuple = ([1,2,3],[4,5,6])

In [44]:
my_tuple = ([1,2,3],[4,5,6])
my_tuple[0][1]=20
print(my_tuple)

([1, 20, 3], [4, 5, 6])

In [ ]:
### 연습 03| 두 개의 튜플을 연결해보세요.
tuple1=(1,2,3)
tuple2+(4,5,6)
->(1,2,3,4,5,6)

In [42]:
tuple1=(1,2,3)
tuple2=(4,5,6)
com=tuple1+tuple2
print(com)

(1, 2, 3, 4, 5, 6)

In [ ]:
### 연습 04| tuple안에 2가 몇개 있는지 세어보세요.
mixed_tuple = (1,2,3,2,4,2,5)

In [43]:
my_tuple=(1,2,3,2,4,2,5)
a=my_tuple.count(2)
print(a)

3

In [ ]:
## 02| 딕셔너리
- 딕셔너리 자료형은 키(Key)와 값(value)의 쌍
- 리스트나 튜플처럼 순차적으로 해당 요소값을 구하지 않고 key를 통해 value를 얻음
- 생성 이후 필요에 따라 값을 추가/수정/삭제 가능

In [ ]:
## 01) 딕셔너리 생성
- 딕셔너리 생성: {}를 사용하여 생성
- 쉼표로 항목들을 구분

In [ ]:
[작성법]
{key1: value, key2:value2, key3:value3,.....}

In [ ]:
1. 빈 딕셔너리 만들기

In [1]:
dict1 = {}
print(dict1)
print(type(dict1))

{}
<class 'dict'>

In [2]:
dict2 = dict()
print(dict2)
print(type(dict2))

{}
<class 'dict'>

In [ ]:
2. 값이 들어 있는 딕셔너리 생성하기 
- key로 정송값1, value로 문자열 'hi'를 사용해볼것!

In [3]:
a={1:'hi'}
print(a)

{1: 'hi'}

In [ ]:
- 밸류에 리스트도 삽입 가능

In [4]:
a = {'a':[1,2,3]}
print(a)

{'a': [1, 2, 3]}

In [ ]:
### 02) 딕셔너리 접근
- 딕셔너리의 값에 접근하려면 키를 사용

In [12]:
my_dict = {
    'name':'Alice',
    'age' : 25,
    'city': 'New York'
}
print(my_dict['name'])
print(my_dict['age'])

Alice
25

In [ ]:
03) 딕셔너리 쌍 수정 및 수정하기

In [13]:
#1. 키와 값 추가하기
a = {1:'a'}
#딕셔너리 키 - 값 추가
a[2] = 'b'
print(a)

{1: 'a', 2: 'b'}

In [ ]:
#3번째 키 값, 추가
#{1:'a', 2:'b', 3: [1,2,3]}

In [ ]:
2. 값 수정하기

In [14]:
a = {1: 'a', 2: 'b', 3: [1,2,3]}
a[3] = [4,5,6]
print(a)

{1: 'a', 2: 'b', 3: [4, 5, 6]}

3. 수정 및 추가에 사용 가능한 메서드
- update()
- 키값이 같으면 수정, 새로운 키라면 추가

In [ ]:
[작성법]
기존 딕셔너리 명, update(추가할 딕셔너리 명)

In [16]:
#기존 딕셔너리
a = {'a':1, 'b':2}
#추가할 딕셔너리
b={'b':3, 'c':4}
a.update(b)
print(a)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
### 04) 딕셔너리 삭제
- del| 요소삭제, 딕셔너리 삭제
- clear| 전체 요소삭제
- pop| 요소삭제

In [ ]:
del  | 요소삭제, 딕셔너리 삭제
[작성법]
-del 딕셔너리이름 [키값] -> 요소 삭제
-del 딕셔너리이름 -> 딕셔너리 삭제

In [17]:
a= {1:'a', 2:'b', 'name':'Alice', 3: [1,2,3]}
del a[1]
print(a)

{2: 'b', 'name': 'Alice', 3: [1, 2, 3]}

In [ ]:
## Q. 키가 'city', 값이 'New York'인 요소를 삭제해보세요.

In [24]:
# 딕셔너리 생ㅅ어
my_dict ={
    'name':'Alice',
    'age':25,
    'city': 'New York'
            
}

del my_dict ['city']
print(my_dict)

{'name': 'Alice', 'age': 25}

In [ ]:
my_dict = {
    'name':'Alice',
    'age':25,
    'city':'New York'    
}

print("삭제 전:'

In [ ]:
#딕셔너리 출력 (삭제후) : 오류 발생

In [27]:
#clear() | 요소 삭제
#[작성법]
#삭제할 딕셔너리 명,clear()
my_dict = {
    'name':'Alice',
    'age':25,
    'city':'New York'    
}
#딕셔너리 삭제전 
print("삭제 전: ", my_dict)
#딕셔너리의 모든 항목 삭제
my_dict.clear()
#딕셔너리 삭제 후 출력
print("삭제 후 : ", my_dict)

삭제 전:  {'name': 'Alice', 'age': 25, 'city': 'New York'}
삭제 후 :  {}

In [ ]:
pop | 데이터 꺼내기
[작성법]
딕셔너리변수명.pop(key)

In [32]:
nations = {'Korea': '한국', 'Japan':' 일본', 'China': '중국'}
nations.pop('China'):
print(nations)

SyntaxError: invalid syntax (1590586912.py, line 2)

In [ ]:
## 06) 딕셔너리 다루기 기타

In [ ]:
- keys(): 딕셔너리의 모든 키를 반환
- values(): 딕셔너리의 모든 값을 반호나
- itmes: 딕셔너리의 모든 키 - 값 쌍을 튜플의 리스트로 반환
- get(): 특정 키에 대한 값을 반환, 키가 없으면 기본값을 반환

In [ ]:
1. key 값들만 추출

In [ ]:
- for문을 사용하여 딕셔너리의 키를 출력할 수 있음.

In [30]:
nations = {'Korea': '한국', 'Japan': '일본', 'China': '중국'}
for i in nations:
    print(i)

Korea
Japan
China

In [31]:
nations = {'Korea': '한국', 'Japan': '일본', 'China': '중국'}
for i in nations.keys():
    print(i)

Korea
Japan
China

In [ ]:
2. value들만 추출

In [33]:
nations = {'Korea': '한국', 'Japan': '일본', 'China': '중국'}
for v in nations.values():
    print(v)

한국
일본
중국

In [ ]:
3. items() | 키와 밸류 동시 접근
- 키와 값을 순서대로 동시에 반환

In [36]:
nations = {'Korea': '한국', 'Japan': '일본', 'China': '중국'}
for key, value in nations.items():
    print(f"키: {key}, 밸류: {value}")

키: Korea, 밸류: 한국
키: Japan, 밸류: 일본
키: China, 밸류: 중국

In [ ]:
4. get() | 특정 키에 대한 값을 반환
- 특정 키의 값을 가져옴
- 키가 없으면 기본값 반환

In [ ]:
[작성법]
딕셔너리명.get(key,기본값)
- 딕셔너리명.get(key) => 기본 반환값은 None
- 딕셔너리명.get(key, 기본값)

In [37]:
student = {
    'name' : 'Jone',
    'age': 22,
    'major': 'computer science'
    
}
#$ 키가 존재하는 경우
name = student.get('name')
print(name)
# 키가 존재하지 않는 경우 -> None 반환
graduation_year = student.get('id')
print(graduation_year) #
# 키가 존재하지 않는 경우, 기본값 사용
n = student.get('id','Not specified')
print(n)

Jone
None
Not specified

In [ ]:
03| 집합 (set)

In [ ]:
- 중복을 허용하지 않고, 순서가 없는 자료 구조
- 원소의 존재 여부 확인, 중복 제거에 매우 유용
- 리스트나 튜플처럼 인덱싱 불가

In [ ]:
### 01) 집합 생성하기

In [ ]:
1. 빈 집합 생성하기

In [38]:
d = {}
print(type(d))

<class 'dict'>

In [39]:
set1 = set()
print(set1)
print(type(set1))

set()
<class 'set'>

In [ ]:
2. 요소가 있는 집합 생성

In [40]:
fruits = {'파인애플', '오렌지', '포도', '딸기', '체리'}
print(fruits)

{'딸기', '포도', '체리', '파인애플', '오렌지'}

In [ ]:
### 02) 집합의 특징

In [ ]:
- 항목의 중복이 불가능

In [41]:
fruits = {'포도', '딸기', '포도'}
print(fruits)

{'딸기', '포도'}

In [ ]:
### 03) 자료형 변형하기

In [ ]:
1. 리스트 -> 집합

In [42]:
s1 = set([1,2,3])
print(s1)

{1, 2, 3}

In [ ]:
2. 문자열 -> 집합

In [43]:
s2 = set("hello")
print(s2)
print(type(s2))\
### 기억할 점: 중복된 값은 사라진다!!!

{'l', 'h', 'o', 'e'}
<class 'set'>

In [ ]:
### 04)집합 원소 추가하기

In [ ]:
add: 원소 추가하기
[작성법]
세트명.add('추가할 원소명')

In [44]:
fruits = {'포도', '딸기', '포도'}
fruits.add('수박')
print(fruits)

{'딸기', '포도', '수박'}

In [ ]:
### 05) 집합 원소 제거하기

In [ ]:
1. remove(): 실제로 내용 삭제를 하기 위한
[작성법]
세트명.remove('제거할 원소명')

In [ ]:
2. discard(): 존재하지 않아도 에러 발생하지 않음, 존재하지 않음을 보장하기 위해 사용
[작성법]
세트명.discard('제거할 원소명')

In [46]:
fruits = {'포도', '딸기', '수박'}
fruits.remove('포도')
print(fruits)
fruits.discard('수박')
print(fruits)

{'딸기', '수박'}
{'딸기'}

In [47]:
fruits.remove('참외')

KeyError: '참외'

In [48]:
fruits.discard('참외')

In [ ]:
3. remove와 discard의 차이점
- 에러 발생 유무
- remove는 삭제할 대상이 없으면 에러 발생, discard는 에러 발생하지 않음

4. 각각의 사용 이유
-remove()
-> 원소가 반드시 집합안에 있어야하고, 없으면 오류로 알려주길 원할 때 사용
-> 데이터 무결성(정확성)이 중요한 상황
-discard()
-> 원소가 집한 안에 있을 수도, 없을 수도 있을 때 안전하게 삭제하고 싶을 때 사용
-> 불필요한 오류를 피하면서 코드 단순화 기능

In [ ]:
### 05) 집합 연산

In [ ]:
- 교집합: A에도 속하고 B에도 속하는 원소들을 골라 넣은 집합
- 합집합: A에 속하거나 B에 속하는 원소들로 이루어진 집합
- 차집합: 한 집합에서 다른 집합 요소를 뺀 새로운 집합을 생성하는 집합 연산\
    A-B
    B-A

In [50]:
setA = {10,20,30,40,50,60}
setB = {50,60,70,80,90,100}
#교집합
print(setA & setB) #and

{50, 60}

In [51]:
#합집합
print(setA | setB)

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [52]:
#차집합
print(setA - setB)
print(setB - setA)

{40, 10, 20, 30}
{80, 90, 100, 70}

In [ ]:
### 07) 집합 연산 메서드

In [54]:
## intersection() | 교집합
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
set3 = set1.intersection(set2)
print(set3)

{3, 4, 5}

In [55]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7}

In [56]:
## difference() | 차집합
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
set3 = set1.difference(set2)
print(set3)

{1, 2}

In [ ]:
## 문제 01 |리스트 중복 제거

In [ ]:
lst = [1,2,2,3,4,5,5]

In [ ]:
[출력결과]
[1,2,3,4,5]

In [82]:
lst1= [1,2,2,3,4,5,5]
lst1= list(set[list])
print(lst1)

[*set[list]]

In [ ]:
### 연습문제 02| 튜플 인덱싱과 슬라이싱 
- numbers = (10, 20, 30, 40, 50)
- 1) 첫 번째 원소를 출력하세요. -> #10
- 2) 마지막 원소를 출력하세요. -=> #50
- 3) (20,30,40)만 출력하세요. -> #(20,30,40)

In [81]:
my_tuple = (10,20,30,40,50)
my_tuple.index(0)
print(my_tuple)

ValueError: tuple.index(x): x not in tuple

In [57]:
### 연습문제 03 | 딕셔너리
- 학생 이름과 점수가 들어있는 딕셔너리가 있습니다.
- scores = {"Alice": 85, "Bob": 92, "Charlie": 78}
1) "Bob"의 점수를 출력하세요.
2) "David": 90을 새로 추가하세요.
3) 모든 키와 값을 각각 출력하세요.
[출력결과]
92
{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 90}
키: Alice, 밸류: 85
키: Bob, 밸류: 92
키: Charlie. 밸류: 78
키: David, 밸류: 90

SyntaxError: unmatched ')' (3807976492.py, line 4)

In [83]:
my_dict={"Alice": 85, "Bob": 92, "Charlie": 78}
my_dict(key:"Bob",value)
print(my_dict)
my_dict.add("David",90)
print(my_dict)
my_dict(f"key:"Alice",value)
my_dict(f"key:"Charlie",value)
print(my_dict)

SyntaxError: unterminated string literal (detected at line 6) (3437135657.py, line 6)

In [ ]:
### 과제 01| 각학생들의 성적이 주어졌을 대 평균 계산하기

'Alice':[85,90,92]
'Bob': [78,81,85]
'Charlie':[92,95,77]
[출력결과]
Alice의 점수들은 [85,90,92]
Bob의 점수들은 [78,81,85]
Charlie의 점수들은 [92,05,77]

In [ ]:
round() 반올림하는 함수
[작성법]
변수명 = round(nmumber, digits)
number: 반올림할 숫자
digits: 반올림할 소수점 자릿수를 지정, 생략하면 정수로 반올림해줌.
round(number,2) 소수점 두자리까지 반올림해!!!

In [84]:
result = round(89.55)
print(result)

90