In [ ]:
Day10. 클래스3(CLASS3)

In [ ]:
클래스를 이용한 예제풀이 = 클래스와 리스트

In [ ]:
클래스와 생성자 다시 한번 이해하기

In [ ]:
class BusinessCard:
    def set_info(self, name, email, addr):
        self.name=name
        self.email=email
        self.addr=addr
    def print_info(self):
        print("------------------------")
        print("Name: ", self.name)
        print("E-mail: ", self.email)
        print("Address: ", self.addr)
        print("----------------------")

In [1]:
class BusinessCard:
    def __init__(self, name, email, addr):
        self.name=name
        self.email=email
        self.addr=addr
    def print_info(self):
        print("------------------------")
        print("Name: ", self.name)
        print("E-mail: ", self.email)
        print("Address: ", self.addr)
        print("----------------------")
member1 = BusinessCard("Alice","alice@gmail.com","Korea")
member1.print_info()

------------------------
Name:  Alice
E-mail:  alice@gmail.com
Address:  Korea
----------------------

In [ ]:
계산기를 만들고 기능 상속받기

In [6]:
class FourCal:   
    def __init__(self, first, second):
        self.first = first
        self.second = second
    #덧셈
    def add(self):
       result=self.first+self.second
       return result        
    #뺄셈
    def minus(self):
        result = self.first-self.second
        return result
    #곱셈
    def multi(self):
        result = self.first*self.second
        return result
    #나눗셈
    def divide(self):
        result = self.first/self.second
        return result
class FourCal2(FourCal):
    def pow(self):
        result = self.first ** self.second
        return result
a=FourCal2(3,4)
print(a.add())
print(a.pow())

7
81

In [ ]:
## 같이 풀어보기

In [9]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def introduce(self):
        return f"안녕하세요, 제 이름은 {self.name}이고 나이는 {self.age}살입니다."
        
people=[]
people.append(Person("김민수", 30))
people.append(Person("이영희", 25))
people.append(Person("박철수", 40))

#리스트에 저장된 Person 객체들의 정보를 출력
for Person in people: 
    print(Person.introduce())

안녕하세요, 제 이름은 김민수이고 나이는 30살입니다.
안녕하세요, 제 이름은 이영희이고 나이는 25살입니다.
안녕하세요, 제 이름은 박철수이고 나이는 40살입니다.

In [ ]:
### 문제 01| 학생성적 관리 프로그램

In [ ]:
1. Student 클래스를 만들어 이름, 점수를 저장하고
- __init__: 객체 생성 시 이름과 점수를 초기화
- show_info(): 학생 정보를 출력하는 메서드
2. 학생 객체들을 리스트에 저장
3. 전체 학생 목록, 평균 점수 등을 출력

In [ ]:
전체 학생 정보:
이름: 수지, 점수: 95
이름: 지아, 점수: 88
이름: 유나. 점수: 79

평균점수 87.33

In [74]:
class Student:
    def __init__(self, name, score):
        self.name=name
        self.score=score
    def show_info():
        print(f"이름: {self.name}, 점수: {self.score}")
for i in range(3):
    #name
    name = input("이름: ")
    score = int(input("학생점수 :"))
    s=Student(name,score)
    Student.append(s)

이름:  수지
학생점수 : 95

AttributeError: type object 'Student' has no attribute 'append'

In [76]:
class Student:
    def __init__(self, name, score):
        self.name=name
        self.score=score
    def show_info():
        print(f"이름: {self.name}, 점수: {self.score}")
        
person=[]
person.append(Student("수지", 95))
person.append(Student("지아", 88))
person.append(Student("유나", 79))
    s=student()
for s in range for person
    s.show_info()

IndentationError: unexpected indent (98074173.py, line 12)

In [59]:
## 3.전체학생목록, 평균 점수 출력
print("전체학생정보")
for t in student: 
    print(t.show_info())
    total_sum == sum(score)

TypeError: 'Student' object is not iterable

In [ ]:
### 문제 02 연락처 저장 및 검색

In [ ]:
- class Contact 클래스 생성
- 연락처 3개를 저장할 빈리스트를 생성
- for문 사용
.name, phone 입력받기
,빈리스트에 추가(객체생성)
- 이름으로 검색
    .검색하고자 하는 이름 입력받기
    . found = false
    . for 리스트에 값이 있는 동안 
    if 비교하기 (==)
        print
        found = True
        (분기문)
if not found:
    print("연락처에 없습니다.")

In [ ]:
이름: 수지
전화번호: 010-0001-1111
이름: 지아
전화번호: 010-0002-2222
이름: 유나
전화번호: 010-0003-3333

In [98]:
class Contact:
    def __init__(self, name, phone):
        self.name=name
        self.phone=phone
        phone=[]
    n=contact(phone)
    for n in range (3):
        int(input("전화번호:", phone))
    def set_info():
        print(f"{self.name}의 전화번호는 {self.phone}입니다.")
    n.append("수지", 01000011111)
    n.append("지아", 01000022222)
    n.append("유나", 01000033333)
    n.name("수지")
        if n==01000011111:
            found True
        else: 
            found
            print("연락처에 없습니다.")

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3268757147.py, line 11)

In [ ]:
문제 03| 최고 점수 학생 찾기

In [ ]:
-class Student 생성
-속성: name, score
- 학생 3명의 이름, 점수 입력받기
- 빈리스트(students)에 저장
- 최고 점수 찾기 위한 값 비교
- 최고 점수 학생 출력

In [ ]:
[입력받기]
이름: 수지
점수: 95
이름: 지아
점수: 88
이름: 유나
점수: 100
[결과출력]
최고 점수 학생: 유나(100점)

In [101]:
class Student:
    def __init__(self, name, score):
students=[]
    s=Student()
    s.append("수지",95)
    s.append("지아",88)
    s.append("유나",100)
    highest = scores(2)
    for score in students:
        if score > highest:
            highest=score
            
    print("최고 점수는:", highest)

IndentationError: expected an indented block after function definition on line 2 (1031394863.py, line 3)