Day02 연산자

01| 산술연산자

- 기본적인 수학적 계산을 수행하는 역할

산술연산자의 종류

-덧셈 +
-뺄셈 -
-나눗셈 /
-곱셉 *
-몫 //
-나머지 %
-거듭제곱 **

In [9]:
num1 = input('num1을 입력하세요 : ')
num1 = int(num1)

num1을 입력하세요 :  35

In [10]:
num2 = input('num2를 입력하세요 : ')
num2 = int(num2)

num2를 입력하세요 :  27

In [11]:
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 & num2)
print(num1 ** num2)

62
8
945
1.2962962962962963
1
3
489595252003776134100131690502166748046875

02| 대입연산자, 복합대입연산자

1. 대입연산자
- =:변수에 값을 할당하는데 사용하는 연산자

2. 복합대입연산자
- 대입연산자와 함께 산술연산자를 결합하여 다양한 연산을 수행할 수 있다.
- 이러한 연산을 더욱 간단하게 표현할수 있는 연산자임

- = 대입연산자
-+= : a+=2 -> 변수 a에 2를 더한 값을 저장 -> a= a+2 (a=4)
- -=: a-=2 -> 변수 a에 2를 뺀값을 저장
- *=: a*=2 -> 변수 a에 2를 곱한 값을 저장
- **= : a**=2 -> 변수 a에 2를 거듭제곱한 값을 저장 
- /= a/=2 -> 변수 a에 2로 나눈 값을 저장
- //= a //=2 -> 변수 a에 2로 나눈 몫을 저장
-&= a%=2 0> 변수 a애 2로 나눈 나머지를 저장

In [16]:
a=2
a=a+2
print(a)

4

02) -= 빼기

In [17]:
b = 6
b= b-2
print(b)

4

03)_ *= | 곱하기

In [19]:
c=2 
c*=3
print(c)

6

In [20]:
c=2
c=c*3
print(c)

6

04) **=| 거듭제곱

In [21]:
d=8
d**=2
print(d)

64

05) /* |나누기(실수형 변환)

In [23]:
e=8
e /=2
print(e)

4.0

In [24]:
f =8
f//=2
print(f)

4

07) %= |나머지

In [25]:
g = 8
g = g%2
print(g)

0

#### ** 연습문제
- 변수 a와 b에 10과 20을 저장한 뒤 저장된 값을 교환하는 프로그램

In [29]:
a = 10
b = 20
print (a-b)

-10

In [30]:
a = 10
b = 20
a, b = 10, 20
print(f'a = {a}, b={b}')

a = 10, b=20

In [31]:
a, b = b, a
print(f'a = {a}, b={b}')

a = 20, b=10

In [32]:
int a = 10
int b = 20
int temp = 0 

temp = a 
a = b 
b = temp

SyntaxError: invalid syntax (3959339306.py, line 1)

03| 관계 연산자

- 두개의 값을 비교하여 그 결과가 참(True)인지 거짓(False)인지 판별하는 연산자

>: 크다
>=: 크거나 같다
<: 작다
<=: 작거나 같다
!=: 같지 않다
==: 같다

In [37]:
num1 = 10
num2 = 20
print(num1> num2)
print(num1 >= num2)
print(num1 < num2)
print(num1 <= num2)
print(num1 != num2)

False
False
True
True
True

In [39]:
num3=10
print(num3 == 10) 
print(num3 == '10')

True
False

In [43]:
myAge = int(input("본인의 나이를 입력해주세요! "))
if myAge % 2 == 0:
    print("제 나이는 짝수입니다")
else:
    print("제 나이는 홀수입니다")

본인의 나이를 입력해주세요!  24

제 나이는 짝수입니다

04| 논리연산자

- 논리적인 연산을 수행하여 참인지 거짓인지를 판단하는 연산자
- 두개 이상의 논리값을 조합하여 새로운 논리 값을 만들 수 있음
- 논리연산자의 종류
    - and: 연산자를 기준으로 왼쪽과 오른쪽 ㄱ밧이 모두 True일때만 True를 반환하고, 나머지는 False를 반환
    - or: 연산자를 기준으로 왼쪽과 오른쪽 값 중 하나라도 Ture이면 True를 반환하고, 둘 다  False일때만 False를 반환
    - not: 뒤에 따라오는 논리값이 True이면 False를 False이면 True를 반환

### 02) and: a와 b모두  True이면 True, 아니면 False

In [44]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

03) or: a와 b중 하나라도 True 이면 True, 아니면 False

In [45]:
print(True or Ture)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

### 04) not: a가 True이면 False를, a가 False이면 True

In [47]:
print(not '')
print(not "hello")

True
False

In [49]:
print(not [])
print(not [1,2,3])

True
False

In [52]:
a = [1,2,3]
if not a: # a => False -> True
        print("a는 비어있습니다.")
else:
    print("a에 값이 있습니다.")

a에 값이 있습니다.

In [ ]:
기타 | 삼항연산자

-조건문을 간단하게 작성할 수 있는 연산자 
- 일반적으로 조건문 if-else문을 상요하여 작성하지만, 삼항연산자를 사용하면 한줄로 조건문을 작성 가능
- 작성법: [참일때] if [조건문] else [거짓일 때]

In [53]:
a=10
print("크다" if a>5 else "작다")

크다

연산자의 우선순위

-연산자를 두개 이상 함께 사용할 때는 연산의 순서가 정해져 있음
-이 순서를 연산자의 우선순위라고함
-우선순위에 따라 연산이 수행되고 그 결과가 달라질 수 있기 때문에, 개발자에게 연산자의 우선 순위는 매우 중요함
- 연산자 우선순위를 이해하면 코드를 보다 효율적으로 작성할 수 있으며 예상치 못한 결과를 방지할 수 있음
-

- 우선순위
1. 괄호
2. 거듭제곱
3. 곱셈, 나눗셈, 나머지
4. 덧셈, 뺄셈
5. 비교연산자
6. not
7. and
8. or 
9. (복합)대입연산자

- 괄호
- 복잡한 연산을 수행할 때는 우선 순위를 한눈에 어려울 수 있ㅇ므
-> 따라서 먼저 처리해야할 연산을 소괄호로 묶어서 우선순위를 거시적으로 표시하는 것이 좋음
- 괄호 안에 있는 연산은 최우선 순위로, 다른 연산자보다 먼저 처리됨

- 연산자의 결합방향
-> 연산자를 기준으로 결합 방향이 왼쪽에서 오른쪽으로 결합

In [54]:
value = 80-30+10
print(value)

60

In [55]:
value = 80 - 30*10
print(value)

-220

-괄호를 사용하여 우선순위와 결합방향을 조절할 수 있음

In [56]:
value = (80-30)*10
print(value)

500

8//2 * (2+2)

In [59]:
value=8//2 * (2+2)
print(value)

16

In [ ]:
1.(2+2)
2.(8//2)
3.*

## 연습문제 01|
- "10을 3으로 나눈 몫은 3, 나머지는 1입니다." 출력
- num1, num2 각각 10, 3 대입연산자를 사용하여 값을 할당
- 몫과 나머지 값은 계산을 하여 결과 출력

In [64]:
num1 = 10 
print(num1//num2)
print(num1%num2)
print("10을 3으로 나눈 몫은 3, 나머지는 1입니다")

3
1
10을 3으로 나눈 몫은 3, 나머지는 1입니다

## 연습문제 02| 두 수를 입력받고 두 수의 연산결과 출력

In [84]:
a = int(input('첫 번째 정수를 입력하세요: '))
b = int(input('두 번째 정수를 입력하세요: '))
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

첫 번째 정수를 입력하세요:  35
두 번째 정수를 입력하세요:  7

42
28
245
5
0

In [ ]:
## 연습 03| 임의의 두자리 정수 (10~99) 입력받아서 십의 자리와 일의 자리로 분리하여 출력하는 프로그램을 구현

In [86]:
number=input("두 자리 정수를 입력하세요: ")
tens = number[0]
ones = number[1]
print("십의자리:",tens)
print("일의자리:",ones)

두 자리 정수를 입력하세요:  24

십의자리: 2
일의자리: 4

In [ ]:
### 과제 02 | 세자리 수의 각 자릿수 합 구하기

In [ ]:
세 자리 수를 입력하세요: 123
1+2+3